<configuration>
  <!-- mybatis 数据源环境配置 -->
  <environments default="dev">
    <environment id="dev">
      <!-- 配置数据源信息 -->
      <dataSource type="DBCP">
        <property name="db.driver" value="com.mysql.jdbc.Driver" />
        <property name="db.url" value="jdbc:mysql://192.168.254.128:3306/ssm?characterEncoding=utf-8" />
        <property name="db.username" value="root" />
        <property name="db.password" value="123456" />
      </dataSource>
    </environment>
  </environments>

  <!-- 映射文件加载 -->
  <mappers>
    <!-- resource指定映射文件的类路径 -->
    <mapper resource="mapper/UserMapper.xml" />
  </mappers>
</configuration>

